header.oLegacy {}
  header.oLegacy .oNavInline {
    height: 36px;
  }
    header.oLegacy .oNavInline .oNavTablist {}
      header.oLegacy .oNavInline .oNavTablist li {
        height: 40px;
      }
      header.oLegacy .oNavInline .oNavTablist .oNavTab {
        line-height: 40px;
        height: 38px;
        font-size: 16px;
      }
  header.oLegacy .oNavTabpanel {}
    header.oLegacy .oNavTabpanel .oPageCentered {}
      header.oLegacy .oNavTabpanel .oPageCentered .oNavLink {
        font-size: 16px;
      }