.frame{
  width:976px;
  margin:auto;
  position: relative;
}
#nav{  
  float: left;
  width: 100%;
}
  #nav .main{
    float: left;
    width:100%;
  }
    #nav .main .top.clearfix{
      background-image:-webkit-linear-gradient(bottom,#3EBF1D,#50CC2F);
      width:100%;
      height:42px;
      border-bottom:1px solid #399322;
    }
    #logoNotice{
      float:right;
      position: absolute;
      left:0;
      top:0;
      width:200px;
      height:42px;
    }
    #logoNotice .oLogo{
      background-position: -35px 0;
      width:60px;
      height:17px;
      float: left;
      margin:14px 0 0 0;
    }
    #logoNotice .noticeGroup{
      width:120px;
      height:17px;
      float: right;
      margin:14px 0 0 0;
      position: relative;
    }
    #logoNotice .noticeGroup .link-icon.sprite{
      float: left;
      width:16px;
      height: 17px;
      margin:0 8px;
      padding:0;
    }
    #logoNotice .noticeGroup .notifications.sprite{
      background-position: -35px -17px;
    }
        #logoNotice .noticeGroup > .notifications .notifications span{
          background:none;
        }
        #logoNotice .noticeGroup > .notifications .notifications span.label{
          display:none;
        }
    #logoNotice .noticeGroup .inbox.sprite{
      background-position: -51px -17px;
    }
      #logoNotice .noticeGroup .inbox.sprite span{
        background:none;
      }
      #logoNotice .noticeGroup .inbox-count{
        background:#CF1818;
        padding:0 3px;
        line-height: 14px;
        min-width: 8px;
        border-radius: 7px;
        display:block;
        position: absolute;
        left:50px;
        top:-3px;
        text-align: center;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
      }
      #logoNotice .noticeGroup .inbox.sprite span.label{
        display:none;
      }
    #logoNotice .noticeGroup .help.sprite{
      background-position: -67px -17px;
    }
      #logoNotice .noticeGroup .help.sprite span{
        background:none;
      }
      #logoNotice .noticeGroup .help.sprite span.label{
        display:none;
      }
        #nav .main .top.clearfix .frame .accountGroup{
          position: absolute;
          right:0;
          top:0;
          height:42px;
        }
          #nav .main .top.clearfix .frame .accountGroup .userNameContainer{
            display: inline-block;
            vertical-align: top;
            margin:12px 0 0 0;
          }
          #nav .main .top.clearfix .frame .accountGroup .userNameContainer .username{}
            #nav .main .top.clearfix .frame .accountGroup .userNameContainer .username .label{
              line-height: 20px;
            }
            #nav .main .top.clearfix .frame .accountGroup .userNameContainer .username .label b{
              color:#fff;
            }
            #nav .main .top.clearfix .frame .accountGroup .userNameContainer .username span.icon{
              border:4px solid transparent;
              border-top-color:#B6EBA9;
              background: none;
              width:0;
              height: 0;
              margin:8px 0 0 10px;
            }
            #nav .main .top.clearfix .frame .accountGroup .picContainer{
              color:#fff;
              width:28px;
              height:28px;
              overflow: hidden;
              border:1px solid #40A327;
              display: inline-block;
              margin:6px 9px 0 0;
            }
              #nav .main .top.clearfix .frame .accountGroup .picContainer img{
                width:33px;
                height:33px;
                position: relative;
                left:-3px;
                top:-3px;
              }
            #nav .main .top.clearfix .frame .accountGroup .userSettingsContainer{
              float:right;
              border-left:2px solid #85DE6E;
              height:21px;
              margin:11px 0 0 10px;
            }
            #nav .main .top.clearfix .frame .accountGroup .userSettingsContainer .link-icon.sprite{
              float:right;
              width:16px;
              height:17px;
              background-position: -83px -17px;
              margin: 3px 0 0 10px;
            }
              #nav .main .top.clearfix .frame .accountGroup .userSettingsContainer .link-icon.sprite span{
                display: none;
              }
/* Top Nav */
#nav .main .top-nav{
  border:none;
  box-shadow: none;
  float: left;
  width:100%;
  position: relative;
  z-index: 1;
}
  #nav .main .top-nav ul.level_1{
    border:none;
    box-shadow: none;
    float:left;
    left:0;
  }
    #nav .main .top-nav ul.level_1 li{
      border:none;
      box-shadow: none;
      margin:8px 6px 0 0;
      height: auto;
    }
    #nav .main .top-nav ul.level_1 li a{
      border:1px solid #CBCBCB;
      border-radius: 8px 8px 0 0;
      box-shadow: none;
      margin:0;
      font-size: 12px;
      font-weight: normal;
      line-height: 30px;
      color: #6F6F6F;
      background-image: -webkit-linear-gradient(bottom,#E8E8E8 0%,#fff 15%);
      height:28px;
    }
    #nav .main .top-nav ul.level_1 li a.current{
      background: #fff;
      border-bottom: transparent;
    }
#nav .level_2{
  float: left;
  width:100%;
  border-top:1px solid #CBCBCB;
  border-bottom:1px solid #CBCBCB;
  max-height:400px;
  height:45px;
}
  #nav .level_2 ul{
    float: left;
    width:100%;
  }
    #nav .level_2 ul li{
      margin:0 30px 0 0;
      line-height: 45px;
    }
      #nav .level_2 ul li a{
        margin:0;
        padding:0;
        color: #3A72CB;
        line-height: 45px;
        display: block;
      }
    #nav .level_2 ul li.search{
      float:right;
      margin:0;
    }