@import url(http://fonts.googleapis.com/css?family=Alegreya:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@media screen and (min-width: 1200px) {
  .jsSearchResults article .left {
    width: 70%;
  }
    .jsSearchResults article .left .content {
      padding: 0 30px 0 0;
    }
  .jsSearchResults article .right {
    width: 28%;
  }
  .col1of4, .oLayoutSearch > .oSide {
    width: 22%;
    margin-left: 1%;
  }
  .col3of4, .oLayoutSearch > .oMain {
    width: 77%;
  }
}
@media screen and (min-width: 900px) {
  .jsSearchResults article .left{
    float: left;
    border-right: 1px solid #E8E8E8;
  }
  .jsSearchResults article .right{
    float: right;
  }
}
@media screen and (max-width: 900px) {
 .jsSearchResults article .left{
    float: left;
    width: 100%;
  }
  .jsSearchResults article .right{
    border-top: 1px solid #E8E8E8;
    float: left;
    width: 100%;
    padding: 15px 0 0 0;
  } 
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .jsSearchResults article .left{
    width: 65%;
  }
    .jsSearchResults article .left .content {
      padding: 0 20px 0 0;
    }
  .jsSearchResults article .right {
    width: 33%;
  }
  .col1of4, .oLayoutSearch > .oSide {
    width: 28%;
    margin-left: 1%;
  }
  .col3of4, .oLayoutSearch > .oMain {
    width: 67%;
  }
}
body * {
    font-family:'Times New Roman' !important;
}
a{
  color:#588BC8;
}
a:hover{
  color: #3F94FC;
  text-decoration: none;
}
/* Pagination */
nav.oPagination {
  font-size: 17px;
  margin: 10px 0;
  float: right;
}
  nav.oPagination .oPager {
    min-width: 30px;
    text-align: center;
    line-height: 32px;
    padding: 0 10px;
    margin: 0 1px 0 0;
  }
  nav.oPagination .oPager:nth-child(1):before {
    content:"«";
    margin: 0 10px 0 0;
  }
  nav.oPagination .oPager:nth-last-child(1):after {
    content:"»";
    margin: 0 0 0 10px;
  }
.sprite{
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/odesk-sprites-01.png') !important;
}
.header-scroll header[role="banner"] {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 50px;
  border-bottom: 1px solid #CEE8FF;
}
  .header-scroll header[role="banner"] .oCompanyDropdown {
    position: absolute;
    top: 9px;
  }
  .header-scroll header[role="banner"] .navTop {
    position: absolute;
  }
  .header-scroll header[role="banner"] .oLogo {
    position: absolute;
    right: 230px;
    top: 5px;
  }
  .header-scroll header[role="banner"] nav[role="navigation"] {
    position: absolute;
  }
  .header-scroll header[role="banner"] ul.oNavTablist {
    display: none;
  }
  .header-scroll header[role="banner"] ul.oInlineList {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .header-scroll header[role="banner"] .oNavTabpanel {
    display: none;
  }
.header-scroll #main {
  margin-top: 141px;
}
/* Job Search */
.jsSearchResults article {
  padding: 20px 0;
  margin: 10px 0;
}
  .jsSearchResults article h1.oRowTitle {
    font-size: 23px;
    margin: 0 0 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .jsSearchResults article .oSupportInfo {
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 15px 0;
    font-weight: 300;
    color: #9A9A9A;
  }
  .jsSearchResults article .oSupportInfo .jsPaid {
    font-weight: 300;
    margin-right: 10px;
  }
  .jsSearchResults article .oSupportInfo .jsFeedback {
    margin-right: 10px;
  }
  .jsSearchResults article .oSupportInfo .jsSkills a:nth-child(1) {
    margin-left: 10px;
  }
  .jsSearchResults article .oSupportInfo .jsSkills .qualifications {
    display: none;
  }
  .jsSearchResults article p {
    font-size: 14px;
    line-height: 20px;
  }
  .jsSearchResults article p.job-description {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 17px;
    color: #494949;
    line-height: 22px
  }
  .jsSearchResults article .right {}
    .jsSearchResults article .right p.location,
    .jsSearchResults article .right p.interview {
      float: left;
      width: 100%;
      font-size: 16px;
      color: #494949;
      line-height: 17px;
      margin: 0;
    }
    .jsSearchResults article .right p.location {
      margin: 0 0 10px 0;
    }
      .jsSearchResults article .right p.location .timezone {
        color: #9A9A9A;
      }
    .jsSearchResults article .right p.interview {
      padding: 0 0 20px;
      width: 70%;
    }
      .jsSearchResults article .right p.interview .average {
        color: #9A9A9A;
      }
      .jsSearchResults article .right section.col.qualifications h1 {
        border-top:1px solid #EAEAEA;
        padding-top: 15px;
        font-size: 16px;
        color: #53789B;
        margin: 0 0 6px;
      }
      .jsSearchResults article .right tr.warning th,
      .jsSearchResults article .right tr.warning td {
        color: #F31A1A;
      }
  .jsSearchResults article p.job-description br,
  .jsSearchResults article p.job-description.show-all .moreBtn,
  .jsSearchResults article p.job-description .moreText {
    display:none;
  }
  .jsSearchResults article p.job-description.show-all br,
  .jsSearchResults article p.job-description.show-all .moreText {
    display: block;
  }
  .jsSearchResults article.applied {
   display: none;
  }
  .jsSearchResults article.applied * {
    display: none;
  }
  .oPageCentered {
    width: 98%;
  }
.notify td {
  line-height: 40px;
  font-size: 15px;
}
.notify td:nth-child(1) {
  padding: 10px 0px 10px 20px;
}
  .notify td .oBtnCloseSmall {
    position: relative;
    top:14px;
  }
  .notify .delete {
    height: 30px;
    width: 100px;
    background: #f0f0f0;
    color: #444444;
  }
.inbox #main {
  float: left;
}
.inbox footer {
  float: left;
  width: 100%;
}
.inbox .inbox-content {
  width: 70%;
  float: left;
}
.inbox .notify-content {
  width: 30%;
  float: right;
  border-left: 1px solid #C8C8C8;
}
  .inbox .notify-content > .oLayout {
  }
  .inbox .notify-content > .oLayout h1,
  .inbox .notify-content > .oLayout span.oNull {
    text-indent: 20px;
    line-height: 30px;
    display: block;
  }
  .inbox .notify-content > .oLayout td {
    line-height: 21px;
    font-size: 15px;
    color: #4F4F4F;
  }
  .inbox .notify-content > .oLayout td:nth-child(1) {
    padding: 10px 15px;
  }
  .inbox .notify-content > .oLayout td:nth-child(2) {
    padding: 15px 10px 15px 0;
  }
  .inbox .notify-content > .oLayout tr:nth-child(even) {
    background: #F5F5F5;
  }
    .inbox .notify-content > .oLayout td time {
      font-size: 15px;
      width: 50px;
      text-align: center;
    }
/* Loading */
.loading {
  width        : 210px;
  height       : 60px;
  position     : fixed;
  top          : 0;
  left         : 0;
  background   : #fff;
  border       : 1px solid #E2E0DE;
}
.loading p {
  font-size: 15px;
  line-height: 20px;
  color: #818181;
  position: absolute;
  top: 8px;
  left: 9px;
}
  .loading .loading-container {
    width: 188px;
    height: 14px;
    position: absolute;
    top: 34px;
    left: 10px;
    border: 1px solid #0075C4;
  }
    .loading .loading-container .loadbar {
      height: 100%;
      width: 0;
      background-image: -webkit-linear-gradient(bottom,#65B0E2,#7CCBFF);
    }
/* Job Applications */
tr.medium td {
  background: #FFF7C4;
}
tr.overdue td {
  background: #FFD9B7;
}
.oTable tr:nth-child(odd) td {
  background: #F8F8F8;
}
.oTable tr.overdue:nth-child(odd) td {
  background: #FFCB9B;
}
.oTable tr.medium:nth-child(odd) td {
  background: #FFF5AE;
}
.oTable td .timezone {
  float: right;
  margin-right: 10px;
  color: #9B9B9B;
}
th,
td {
  font-size: 15px;
}
.oTable th {
  font-weight: normal;
  line-height: 50px;
  padding: 0 10px;
  color: #4295C4;
  background: none;
  font-size: 18px;
}
.oTable > thead {
  background: none;
}
.job-application th,
.job-application td {
  height: 50px;
}
.apply * {
    font-family: Alegreya;
}
  .apply .oLayoutInfo {
    border: none;
  }
  .apply header {}
    .apply header .oH1Huge {
      color: #444444;
      font-size: 30px;
      line-height: 40px;
    }
    .apply h1.oH2 {
      background: none;
      padding: 0;
      line-height: 40px;
      font-size: 20px;
      padding: 0 0 10px 0;
      margin: 0 0 20px 0;
      border-bottom: 1px solid #C9C9C9;
    }
    .apply p {
      font-size: 16px;
      color: #494949;
    }
.mam p {
  color: #494949;
  font-size: 17px;
  margin: 20px 0;
}