<div class="navigation v2" id="nav">
  <div class="main">
  	<div class="top clearfix">
  		<div class="frame">
        <div id="logoNotice">
          <div class="noticeGroup">
            <span class="notifications link-icon">
              <a href="/mc/notifications/" class="notifications link-icon sprite" title="Notifications">
                <span class="label">Notifications</span>
                <span class="icon"></span>
              </a>
              <div class="menu">
                <div class="arrow"></div>
                <h2>Notifications</h2>
                <div class="messages">
                  <div class="loader"><img src="/images/winbox_throbber.gif"></div>
                </div> 
                <div class="see-all clear-fix">
                  <a href="/mc/#notifications">See all notifications</a>
                </div>
              </div>
            </span>
            <span class="inbox link-icon">
              <a href="/mc/" class="inbox link-icon sprite" title="Inbox">
                <span class="label">Messages</span>
                <span class="icon"></span>
              </a>
              <div class="menu">
                <div class="arrow"></div>
                <h2>Messages</h2>
                <div class="messages">
                  <div class="loader">
                    <img src="/images/winbox_throbber.gif"></div>
                  </div>
                  <div class="see-all">
                    <a href="/mc/#inbox" class="see-inbox">See all messages</a>
                    <p class="unread-inbox" style="display: none; ">
                      <span class="count-unread">0</span>Unread Message<span class="many" style="display: none; ">s</span>
                    </p>
                    <p class="unread-tickets" style="display: none; ">
                      <span class="count-unread">0</span> Unread Ticket<span class="many" style="display: none; ">s</span>
                    </p>
                  </div>
                </div>
              </span>
              <span class="dropdown help link-icon">
                <a href="https://kb.odesk.com" class="dropdown help link-icon sprite" title="Help &amp; Community" target="_blank"><span class="label">Help</span><span class="icon"></span></a>
                <div class="menu">
                  <div class="arrow"></div>
                  <div class="menu-top"> <h2>Help</h2> </div> 
                  <div class="item"> 
                    <a href="https://kb.odesk.com" class="">Help center</a> 
                  </div> 
                  <div class="item">
                    <a href="https://www.odesk.com/community/" class="">Community and Forums</a>
                  </div>
                  <div class="item">
                    <a href="https://www.odesk.com/support.php" class="">Contact Support</a>
                  </div>
                  <div class="menu-bottom"></div>
                </div>
              </span>
            </div>
            <a class="oLogo sprite" href="/">Powered by <span>oDesk</span></a>
          </div>
          <span class="simple-company-selector" id="simple-company-selector" style="display: none; "> 
            <div class="display many" data-reference="d449181">
              <span>Sean MacIsaac</span>
              <div class="arrow"></div>
            </div>
            <div class="items menu">
              <div class="arrow"></div>
              <h2>Choose Company</h2>
              <div class="item" data-reference="126303">Sean J MacIsaac</div>
              <div class="item selected last" data-reference="d449181">Sean MacIsaac</div>
              <div class="menu-bottom"></div> 
            </div>
          </span>
          <div class="accountGroup">
            <div class="picContainer">
              <img src="https://odesk-prod-portraits.s3.amazonaws.com/Users:seanjm:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&amp;Expires=2147483647&amp;Signature=N1F4HhgIYtemNzQEBLmGReF05T0%3D&amp;1347554444" class="">
            </div>
            <div class="userNameContainer">
              <span class="dropdown username">
                <div class="menu">
                  <div class="arrow"></div>
                  <div class="menu-top"></div>
                  <div class="item">
                    <a href="/login.php?action=logout" class="">Sign Out</a>
                  </div>
                  <div class="menu-bottom"></div>
                </div>
              </span>
              <a href="/UserSettings/profile" class="dropdown username">
                <span class="label" username="seanjm"><b>Sean MacIsaac</b></span>
                <span class="icon"></span>
              </a>
            </div>
            <div class="userSettingsContainer">
              <span class="dropdown settings link-icon">
                <div class="menu">
                  <div class="arrow"></div>
                  <div class="menu-top">
                    <h2>Settings</h2>
                  </div>
                  <div class="item">
                    <a href="/UserSettings/profile" class="">User Settings</a>
                  </div>
                  <div class="item">
                    <a href="/d/profile.php" class="">My Contractor Profile</a>
                  </div>
                  <div class="menu-bottom"></div>
                </div>
              </span>
              <a href="/UserSettings/profile" class="dropdown settings link-icon sprite" title="Settings">
                <span class="label">Settings</span>
                <span class="icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="top-nav">
        <div class="frame">
          <ul class="level_1">
            <li class=""><a href="/find-work-home/" class="">Find Work<span></span></a></li>
            <li class=""><a href="/d/home/" class=" current">My Jobs<span></span></a></li>
            <li class=""><a href="https://www.odesk.com/withdrawal-methods" class="">Wallet<span></span></a>
            </li>
          </ul>
          <div class="user_global clearfix"></div>
        </div>
      </div>
    </div>
    <div class="level_2">
      <div class="frame">
        <ul class="clearfix">
          <li class="">
            <a href="/d/home/" class="">My Jobs</a>
            <div></div>
          </li>
          <li class="">
            <a href="/d/contracts" class="">Contracts</a>
            <div></div>
          </li>
          <li class="">
            <a href="/workdiary?main" class="">Work Diary</a>
            <div></div>
          </li>
          <li class=" current">
            <a href="https://www.odesk.com/reports/main" class=" current">Reports</a>  
          </li> 
        </ul> 
      </div>  
    </div> 
  </div>