<div template="job-filters">
  <div class="oPlusSide visibilityFilter" id="plusFilters">
    <div class="container">
      <legend class="oLabel">Visibility</legend>
      <label class="oOpt oOptLbl">Timezone Difference Range:</label>
      <div class="range-slider" range="0,16" on="rangeFilter" id="timezone-range"></div>
      <label class="oOpt oOptLbl">Rate range:</label>
      <div class="range-slider" range="$0,$84" on="rangeFilter" id="rate-range"></div>
      <label class="oOpt oOptLbl">Average Rate</label>
      <div class="range-slider" range="$0,$98" on="rangeFilter" id="average-rate-range"></div>
      <label class="oOpt oOptLbl">Highest Rate Paid:</label>
      <div class="range-slider" range="$0,$98" on="rangeFilter" id="highest-rate-paid"></div>
      <label class="oOpt oOptLbl">
        <input type="checkbox" id="hideApplied">Hide Jobs I've applied for
      </label>
    </div>
  </div>
</div>

<div template="job">  
  <article class="span24 padding30 notop noside job-item applied-{{applied}} oJobTile jsSimilarTile highRate-{{rate-high}} warning-{{warning}} avgRateLow-{{amt-avg-low}} lowFeedback-{{feedback-high}} amtHighestLow-{{amt-highest-low}}" timedifference="{{time-difference}}" rate="{{hourly-rate-min}},{{hourly-rate-max}}" avgrate="{{average-rate}}" hirate="{{highest-paid}}">
    <div class="span16">
      <div class="content padding30 noside">
        <h1 class="oRowTitle oH3">
          <a href="{{url}}">{{title}}</a>
        </h1>
        <div class="oSupportInfo">
          <strong>{{type}}</strong> - {{duration}} - Posted: {{posted}}
        </div>
        {{description}}  
      </div>
      <div class="oSupportInfo">
        <strong class="ib jsPaid">
          Client: 
          <span class="oSpendIndicator">
            <i class="oSpendIcon {{spending}}"> </i> 
          </span>
        </strong>
        <div class="ib jsFeedback">
          <div class="oStarsContainer oStarsSmall" title="5.00 stars, based on 4 reviews">
            <div class="oStarsValue" style="width:100%"></div>
          </div>
        </div>
        <span class="jsSkills">
          Skills: {{skills}}
        </span>
      </div>
    </div>
    <div class="span8">
      <div class="padding20">
        {{if {{budget}}}} <p class="budget"><span class="span10 left">Budget:</span><span class="span14">{{budget}}</span></p> end}}
        {{if {{average-rate}} <p class="avg-rate"><span class="span10 left">Avg. Rate Paid:</span><span class="span14">{{average-rate}}</span></p> end}}
        {{if {{highest-paid}} <p class="highest-amt"><span class="span10 left">Highest Rate Paid:</span><span class="span14">{{highest-paid}} / {{highest-paid-hours}} hours</span></p> end}}
        {{if {{hourly-rate-min}} <p class="rate"><span class="span10 left">Hourly Rate:</span><span class="span14"><span minRate="{{hourly-rate-min}}">${{hourly-rate-min}}</span> - <span maxRate="{{hourly-rate-max}}">${{hourly-rate-max}}</span></span></p> end}}
        <p><span class="span10 left">Location:</span><span class="span14">{{location}} <span class="timezone">({{timezone}})</span></span></p>
        {{if {{interview}} <p><span class="span10 left">Interviewing:</span><span class="span14">{{interview}}</span></p> end}}
        {{if {{feedback}} <p class="feedback"><span class="span10 left">Feedback Rating:</span><span class="span14">{{feedback}}</span></p> end}}
      </div>
    </div>
  </article>
</div>

<div template="job-desc">
  <div class="job-description moreText-{{more-text}}">
    <div class="more">{{text}}</div>
    <p class="less">{{less}}</p>
    <span class="toggleDesc moreBtn btn-blue">Read More</span>
    <span class="toggleDesc lessBtn btn-blue">Read Less</span>
  </div>
</div>

<div template="dashboard">
  <div class="oPageCentered">
    <div class="dashboard">
      <div class="dashbox">
        <h1>Hours Worked</h1>
        <p>{{hours}}</p>
      </div>
      
      <div class="popout dashbox">
        <div class="popout-trigger">
          <h1>Earnings</h1>
          <p>{{week-total}}</p>
          <div class="popout-menu">{{week-table}}</div>
        </div>
      </div>

      <div class="dashbox">
        <h1>Available</h1>
        <p>{{week-earnings}}</p>
      </div>
      
    </div>
  </div>
</div>